* {box-sizing:border-box}
body,html {
	max-width: 2000px;
	display: flex;
	flex-direction:column;
	height: 100%;
    margin: 0;
	background-color:#f4f4f4;
}
.footing
{top:100%;}
.mainbody 
{
	flex: 1;
	padding-left:5%;
	position:absolute;
	display:block;
	margin-top:150px;
	min-height:100vh;
	z-index:0;
 }
 .mainbody .headingribbon  /*stupid way to implement this, but it work (Lamchau)*/
 {
	margin: 25px auto 20px auto;	/*center image to page*/
	width:100%;
	align-content:center;
 }
 .mainbody .headingribbon img
 {
	display:inline-block;
 }
 .mainbody h1
 {
	margin: 5px 0 10px 0;
	padding-left:20px;
 } 
 
div.gallery {

	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-top:20px;
	border: 1px solid #ccc;
	background:#ffffff;
	cursor:pointer;
	width:350px;
	height:100;
	padding:0 15px 0 15px;
	align-content:center;
}
div.gallery:hover {
	border: 1px solid #777;
	background:#f4f4f4;
}
div.desc {
	padding: 15px;
	text-align: center;
}
a
{
	text-decoration:none;
	color:#1c274c;
	font-weight:700;
}
* {
	box-sizing: border-box;
}

.responsive {
	padding: 5px 5px;
	margin: 0 20px 5px 0;
	display:inline-block;
	z-index:1;
	float: left;
	width: 30%;
}

@media only screen and (max-width: 700px) {
 .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}