* {box-sizing:border-box}
html, body {
	height:100%;
    font-family:'Times New Roman', Times, serif;
    background-color: #f4f4f9;
    display: flex;
	flex-direction:column;
    margin: 0;
}

.footing{
bottom:0;}
.mainbody {
	flex:1;
	justify-content:first baseline;
    align-items:first baseline;
	background-color: white;
    padding: 160px 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;  
    box-sizing: border-box;
}
table, th, td {
  border: 1px solid;
  font-size:20px;
}
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
td{text-align:center;}
td:hover{background-color:#1c274c;
color:white;}
tr:nth-child(even) {background-color: #f2f2f2;}
input[type="text"]{
	display:block;
	border:none;
width:100%;}
