* {
    box-sizing: border-box;
}

html, body {
    height: 90%;
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footing {
    bottom: 0;
}

.mainbody {
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 10px;  /* Giảm padding để phù hợp với kích thước màn hình */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;  /* Đặt max-width để bảng chiếm toàn bộ chiều rộng màn hình */
    box-sizing: border-box;
    overflow: auto;  /* Thêm để tránh tràn nội dung */
}

table, th, td {
    border: 1px solid;
    font-size: 16px;  /* Giảm kích thước font để hiển thị nhiều nội dung hơn */
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

td {
    text-align: center;
}

td:hover {
    background-color: #1c274c;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type="text"] {
    display: block;
    border: none;
    width: 100%;
    padding: 6px;  /* Giảm padding để các ô có khoảng cách với nội dung */
}
