.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} // tui bị dở phần css á nên nhờ fen LamChau support tui nha 
